// Button Styles

*.btn{
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius:0;
  @include heading-font;
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  }
    .btn-xl {
    font-size: 0.8rem;
    }
    .btn-primary {
      border: 2px solid $accent;
      background-color: $black;
      color:$white;
      font-weight: 400;
      &:active,
      &:focus,
      &:hover {
        background-color: $white;
        border-color: $black;
        font-weight: bold;
        box-shadow: 0 0 0 0.2rem rgba($accent, 0.6) ;
        color: $black ;
      }

    }
    .btn-secondary {
      border: 2px solid $accent;
      background-color: transparent;
      color:$white !important;
      &:active,
      &:hover,
      &:focus,
      {
        background-color: $white !important;
        border-color: $accent !important;
        box-shadow: 0 0 0 0.2rem rgba($accent, 0.5) !important;
        color: $black !important;
      }

    }

@media(min-width:768px){

  *.btn{

}
  .btn-xl {
    font-size: 0.9rem;
  }

}
@media(min-width:1224px){

  *.btn{
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .btn-xl {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}
