// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999999 !default;
$gray-600: #868e96 !default;
$gray-700: #666666 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$accent: #e4d243 !default;
$primary: #006738 !default;

$btn-height-sm:3rem !default;
$btn-width-sm:10rem !default;
$btn-height-l:3rem !default;
$btn-width-l:10rem !default;
$btn-height-xl: 4rem !default;
$btn-width-xl: 13rem !default;
